body {
  display: grid;
  max-width: 95%;
  margin: 0 auto;
  /* justify-items: stretch; */
  /* text-align: center; */
}
.main {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 3%;
  justify-items: stretch;
}

.repo {
  display: grid;
  justify-items: center;
  background-color: #666;
  border-radius: 3%;
}
